.insta-img {
    height: 300px;
    border-radius: 5px;
}

.insta-a {}

.insta-caption {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 0;
}

.insta-div {
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 20px #e0e0e0;
}
